extends layout

block content

	form(action="/changepassword" method="POST")
		table
			tr
				td
					label(for="txtClave") Clave:
				td
					input(id="txtClave" name="txtClave" type="password" require)
			tr
				td
					label(for="txtConfirmar") Confirmar:
				td
					input(id="txtConfirmar" name="txtConfirmar" type="password" require)
			tr
				td(colspan="2")
					button(id="btnCambiar" name="btnCambiar" value="#{data[0].usuario}") Cambiar