doctype html
html
	head
		title= Ingresar
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/JavaScripts/lostpassword.js")
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		
	body
		block content