extends layout

block content

	form(action="/lostpassword" method="POST")
		table
			if usuario
				tr
					td
						label(for="txtUser") Usuario:
					td
						input(id="txtUser" name="txtUser" require)
				tr
					td(colspan="2")
						button(id="btnRecuperar" name="btnRecuperar") Buscar
			else
				tr
					td(colspan="2")
						label #{data[0].enunciado}
				tr
					td
						label Respuesta:
					td
						input(name="txtRespuesta" require)
				tr
					td(colspan="2")
						button(id="btnRecuperar" name="btnRecuperar" value="#{data[0].usuario}") Comprobar