extends layout

block content

	form
		table
			tr
				td
					label(for="txtUser") Usuario:
				td
					input(id="txtUser" name="txtUser" required)
			tr
				td
					button(id="recuperar" onClick="user()") Recuperar
		section(id="pregunta")

